<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>
<body>
    
    <form method="post" action="{{ url_for('registration') }}">
        <label>Nom</label>
        <input type="text" name="nom">

        <label>Prenom</label>
        <input type="text" name="prenom">

        <label>Age</label>
        <input type="text" name="age">

        <button>S'inscrire</button>
    </form>
</body>
</html>